body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.myname{
    color: green;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 10%;
    font-size: 30px;
}
.half-width img{
    width: 100%;
    margin-top: 5%;
}
.top-banner{
    background-image: url(images/bg.png);
    height: 600px;
    background-repeat: no-repeat;
}
.Hire-Button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(138, 7, 138) ,rgba(162, 6, 200, 0.219));
    color: white;
    border-radius: 2px;
    display: inline-block;
    margin-top: 50px;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    border: double 2px lightblue;
    border-radius: 5px;
    box-shadow: lightblue;
}

.Hire-Button:hover{
    background-image: linear-gradient(white,white);
    color: black;
}

.half-width2{
    width: 600px;
    float: left;
    margin-left: 5%;
    margin-top: 50px;
}

.half-width3{
    width: 600px;
    float: left;
    margin-left: 150px;
    margin-bottom: 100px;
}

.half-width2 img{
    width: 100%;
    margin-right: 20%;
    height: 600px;
}

.Des{
    font-size: 50px;
}

.Hire-Button2{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(138, 7, 138) ,rgba(162, 6, 200, 0.219));
    color: white;
    border-radius: 2px;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 100px;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    border: double 2px lightblue;
    border-radius: 5px;
    box-shadow: lightblue;
}

.Hire-Button2:hover{
    background-image: linear-gradient(white,white);
    color: black;
}


.ex-area{
    width: 40%;
    float: left;
    height: 300px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    margin-bottom: 70px;
    background-color: white;
}

.single-ex{
    box-shadow: 10px 10px 40px black;
}

.tb2{
    background-image: url(images/dream-bg.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: right;
}

.abar{
    margin-left: 50px;
}

.bol{
    color: gold;
}

.tb3{
    background-image: url(images/exp-bg.png);
    height: 600px;
    background-position: left;
    background-repeat: no-repeat;
}


.tit{
    margin-top: 90px;
    font-size: 50px;
}

#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-size: 12px;
}